#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.top-nav {
  position: fixed;     /* always stuck to the top */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  display: flex;
  gap: 16px;
  align-items: center;
  padding: 12px 16px;

  font-family: "Nunito", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 900;

  background: rgba(255, 255, 255, 0.87);   /* bar color */
  border-bottom: 8px solid #A84D48;
}

/* Makes the nav links look like tabs */
.top-nav a {
  text-decoration: none;
  color: #A84D48;
  padding: 6px 10px;
  border-radius: 6px;
  font-family: inherit;
  font-weight: 900;
  font-size: 20px;
  line-height: 1; /* keeps bar from stretching with size changes to font */
}

.top-nav a:hover {
  background: #e0756f37;
}

.page-content {
  padding-top: 56px; /* adjust to match nav height */
}

